<!DOCTYPE html>
<html lang="es-mex">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Calculadora{% endblock %}</title>
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>
<body>
    <ul>
<li class="nav-item"><a href="{{ url_for('inicio') }}" class="nav-link">Inicio</a></li>
                        <li class="nav-item"><a href="{{ url_for('peso') }}" class="nav-link">Peso</a></li>
                        <li class="nav-item"><a href="{{ url_for('altura') }}" class="nav-link">Altura</a></li>
                    </ul>
</div>
</body>
</html>